.cardDetail{
    text-decoration: none;
    color: black;
    height: max-content;
    &:hover{
        background-color: $f1-azure-50;
        color: $f1-azure-950;
    }
    @include responsive('sm') {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1rem;
        margin: 2rem;
    }
    @include responsive('md') {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.5rem;
    }

    .imgDetail {
        width: 100%;
        object-fit: cover;
        @include responsive('sm') {
        }
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn{
    animation: fadeIn 1s ease-in-out;
}

.fadeInButton {
    animation: fadeIn 3.5s ease-in-out;
}

td {
    padding-left: 10px;
}