.searchSortResponsive{
    display: grid;
    margin: 2rem;

    @include responsive('sm'){
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include responsive('md'){
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include responsive('lg'){
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}