.btn {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    &.btn-primary {
        background-color: $f1-azure-500;
        color: $f1-azure-50;
        &:hover {
            background-color: $f1-azure-600;
        }
        &:active {
            background-color: $f1-azure-700;
        }
        &.disabled {
            background-color: $f1-azure-100;
            color: $f1-azure-400;
        }
    }
    &.btn-outline {
        border: 1px solid;
        border-radius: .5rem;
        border-color: $f1-azure-500;
        background-color: $f1-azure-50;
        color: $f1-azure-500;
        &:hover {
            border-color: $f1-azure-700;
            color: $f1-azure-700;
        }
        &:active {
            border-color: $f1-azure-800;
            color: $f1-azure-800;
        }
        &.disabled {
            border-color: $f1-azure-200;
            color: $f1-azure-200;
        }
    }
}
