*,
*::before,
*::after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.w-full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.fixed {
  position: fixed;
  margin: 0;
  width: 100%;
  z-index: 1;
}